.sticky-custom{
  position: sticky !important;;
  top: 40px!important;
  z-index: 1021;
}
.scrollspy li a{
    text-decoration: none;
    text-align: left;
    padding: 30px 0;
    color: rgb(163, 163, 163);

}
.scrollspy a h5{
  color: rgb(163, 163, 163);
    font-size: 17px;
    padding: 10px 0;
}


  .isCurrent a h5{
  color:rgb(221, 134, 134);
    text-decoration: none ;
    border-right: 2px solid red;
    background-color:#fbe5c4;
  }