
  .logo-img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    outline: 5px solid #FFB03B;
  
  };
  
.info {
    padding: 30px;
    background: #fff !;
    width: 100%;
  }
  
  .info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
.info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
  }
  
.info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
  }
  
.info .email p {
    padding-top: 5px;
  }
.info .social-links {
    padding-left: 60px;
  }
.info .email:hover i,.info .address:hover i,.info .phone:hover i {
    background: #f8ddb5;
 
  }