
*{
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #faf3f4;
}

.primary-text {
  color: #FFB03B;
}

.primary-btn {
  background-color: #FFB03B;
  color: #fff;
  letter-spacing:1px;
  transition: all 0.3s ease-in-out;
text-transform: uppercase;
}
.primary-btn:hover{
  color: #fff; 
  background-color: #fa4877;
}

.primary-bg {
  color: #61dafb;
}



